<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contact List</title>
</head>
<body>
<h1>Contact List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>First Name</th>
    <th>Personal Phone</th>
    <th>Work Phone</th>
    <th>Address</th>
    <th>Personal Email</th>
    <th>Work Email</th>
    <th>Gender</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="contact : ${contacts}">
    <td th:text="${contact.id}"></td>
    <td th:text="${contact.nom}"></td>
    <td th:text="${contact.prenom}"></td>
    <td th:text="${contact.telephone1}"></td>
    <td th:text="${contact.telephone2}"></td>
    <td th:text="${contact.adresse}"></td>
    <td th:text="${contact.emailPersonnel}"></td>
    <td th:text="${contact.emailProfessionnel}"></td>
    <td th:text="${contact.genre}"></td>
    <td>
      <form action="#" th:action="@{/contacts/edit/{id}(id=${contact.id})}" th:method="post">
        <input type="submit" value="Edit">
      </form>
      <form action="#" th:action="@{/contacts/delete/{id}(id=${contact.id})}" th:method="post">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/">Add New Contact</a>
</body>
</html>
