<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: headFragment"></head>
<body>
<div class="dashboard-main-wrapper">
  <div th:replace="layout/navbar :: navbarFragment"></div>

  <div th:replace="layout/sidebar :: sidebarFragment"></div>
  <div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
      <div class="row">
            <h5 class="card-header">Groups Overview</h5>
              <table class="table" id="contactsTable">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Count</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                  <td th:text="${group.getKey()}"></td>
                  <td th:text="${group.getValue()}"></td>

                  <td>
                    <form action="#" th:action="@{/groups/contacts/{name}(name=${group.getKey()})}" th:method="get" class="d-inline-block">
                      <input type="submit" value="View contacts" class="btn btn-success">
                    </form>
                    <form action="#" th:action="@{/groups/edit/{name}(name=${group.getKey()})}" th:method="get" class="d-inline-block">
                      <input type="submit" value="Edit" class="btn btn-success">
                    </form>
                    <form action="#" th:action="@{/groups/delete/{name}(name=${group.getKey()})}" th:method="post" class="d-inline-block">
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                  </td>



                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  <div th:replace="layout/footer :: footerFragment"></div>
    </div>


</div>
</body>

<script>
  function liveSearch() {
    // Get the search box input
    let input = document.getElementById('searchbox');
    let filter = input.value.toUpperCase();

    // Get the contacts table
    let table = document.getElementById('contactsTable');
    let tr = table.getElementsByTagName('tr');

    // Loop through all rows, and hide those that don't match the search query
    for (let i = 0; i < tr.length; i++) {
      let td = tr[i].getElementsByTagName('td');
      let found = false;
      for(let j = 0; j < td.length; j++) {
        if (td[j]) {
          let txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }
      }
      tr[i].style.display = found ? "" : "none";
    }
  }
</script>



</html>
