<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/head :: headFragment"></head>
  <body>
    <div class="dashboard-main-wrapper">
      <div th:replace="layout/navbar :: navbarFragment"></div>

    <div th:replace="layout/sidebar :: sidebarFragment"></div>
    <div class="dashboard-wrapper">
      <div class="container-fluid  dashboard-content">
    <div class="row">

        <div class="card">
            <h5 class="card-header">Select Example</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="input-select">Example Select</label>
                        <select class="form-control" id="input-select">
                            <option>Choose Example</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="input-select">Example Select</label>
                        <input type="text" class="form-control" id="input-select" placeholder="Example placeholder">
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div class="row">
      <div >
          <div class="card">
              <h5 class="card-header">Contact Overview</h5>
              <div class="card-body">
                  <table class="table" id="contactsTable">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>First Name</th>
                        <th>Personal Phone</th>
                        <th>Work Phone</th>
                        <th>Address</th>
                        <th>Personal Email</th>
                        <th>Work Email</th>
                        <th>Gender</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr th:each="contact : ${contacts}">
                          <td th:text="${contact.nom}"></td>
                          <td th:text="${contact.prenom}"></td>
                          <td th:text="${contact.telephone1}"></td>
                          <td th:text="${contact.telephone2}"></td>
                          <td th:text="${contact.adresse}"></td>
                          <td th:text="${contact.emailPersonnel}"></td>
                          <td th:text="${contact.emailProfessionnel}"></td>
                          <td th:text="${contact.genre}"></td>
                          <td>
                            <form action="#" th:action="@{/contacts/edit/{id}(id=${contact.id})}" th:method="get">
                              <input type="submit" value="Edit" class="btn btn-success">
                            </form>
                            <form action="#" th:action="@{/contacts/delete/{id}(id=${contact.id})}" th:method="post">
                              <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                          </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


</div>
</body>

<script>
  function liveSearch() {
      // Get the search box input
      let input = document.getElementById('searchbox');
      let filter = input.value.toUpperCase();
  
      // Get the contacts table
      let table = document.getElementById('contactsTable');
      let tr = table.getElementsByTagName('tr');
  
      // Loop through all rows, and hide those that don't match the search query
      for (let i = 0; i < tr.length; i++) {
          let td = tr[i].getElementsByTagName('td');
          let found = false;
          for(let j = 0; j < td.length; j++) {
              if (td[j]) {
                  let txtValue = td[j].textContent || td[j].innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      found = true;
                      break;
                  }
              }
          }
          tr[i].style.display = found ? "" : "none";
      }
  }
  </script>
  
  

</html>
